<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script>
        async function handle_login(event) {
            event.preventDefault();
            const resp = await fetch("/login_user", {
                method: 'POST',
                headers : {
                    'Content-Type':'application/json'
                },
                body: JSON.stringify({
                    'email': document.getElementById("email").value,
                    'password': document.getElementById('password').value,
                })
            })
            if (resp.ok) {
                const data = await resp.json()
                localStorage.setItem("token", data['token'])
                window.location.href = '/movies'
            }else{
                const data = await resp.json()
                console.log(data)
            }
        }
    </script>
</head>
<body>
    <form onsubmit="handle_login(event)">
        <label>Enter email</label>
        <input type="email" name="" id="email">
        <label >Enter Password</label>
        <input type="password" name="" id="password">
        <button type="submit">Login</button>
    </form>
</body>
</html>